<div class="user-details">
  <h1> About Me </h1>
</div>
<div class="user-projects">
  	<p>I am the Assistant Director at the Center for Interdisciplinary Exploration and Research in Astrophysics (CIERA) and a Research Assistant Professor at Northwestern University. My research focuses on a broad range of astrophysical transients, from fast radio bursts (FRBs) to superluminous supernovae and tidal disruption events. I'm particularly interested in studying the radio properties of these sources to answer key questions about their progenitors, outflows, and environments. I am also a member of several scientific collaborations, including the <a href="https://sites.google.com/ucolick.org/f-4/our-team" target="_blank">Fast and Fortunate for FRB Follow-up (F4) collaboration</a>, <a href="https://chime-experiment.ca/en">CHIME/FRB</a>, and <a href="https://cmb-s4.org/">CMB-S4</a>.</p>

    <p>These days, I'm especially interested in understanding FRB progenitors through studies of their host galaxies and persistent radio counterparts, and thinking about millimeter transient detection with next generation CMB surveys.</p>

</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="headshot" src="{{ "/assets/img/headshot.jpg" | prepend: site.baseurl }}" />
  </div>

    <div class="contents-right">
	<p><br><br>I received my PhD in Astronomy and Astrophysics from Harvard in 2021, and graduated from the University of New Mexico in 2015, where I worked as part of the Long Wavelength Array collaboration. Before starting my current role, I was a CIERA Postdoctoral Fellow and a NASA Einstein Fellow.</p>

	<p>In my time off, I enjoy playing piano, strength training, carpentry, and delving into Tolkien lore. Though I'm Chicago-bound for the time being, I’m a desert dweller at heart, hailing from the enchanted mountains of Northern New Mexico.</p>
  </div>

</div>



