<div class="user-details">
  <h1> About Me </h1>
</div>
<div class="user-projects">
  	<p> I am a NASA Hubble Einstein Fellow and Radio Astronomer at Northwestern University and a member of the <a href="https://sites.google.com/ucolick.org/f-4/our-team" target="_blank">Fast and Fortunate for FRB Follow-up (F4) collaboration</a>. My research focuses on a broad range of astrophysical transients, ranging from fast radio bursts to superluminous supernovae and tidal disruption events. I'm particularly interested in studying the radio properties of these sources to answer key questions about their progenitors, outflows, and environments.
</p>

</div>


<div class="user-projects">

   <center> <img alt="headshot" src="{{ "/assets/img/headshot.jpg" | prepend: site.baseurl }}" style="width:400px"/></center>
<p>I received my PhD in Astronomy and Astrophysics from Harvard in 2021, and graduated from the University of New Mexico in 2015, where I worked as part of the <a href="https://leo.phys.unm.edu/~lwa/index.html">Long Wavelength Array</a> collaboration.</p>




	<p>In my time off, I enjoy playing piano, strength training, carpentry, and delving into Tolkien lore. Though I'm Chicago-bound for the time being, I’m a desert dweller at heart, hailing from the enchanted mountains of Northern New Mexico.</p>


</div>

