<div class="user-details">
  <h1> Research Highlights</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mm Transients" src="{{ "/assets/img/mmtransients.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Extragalactic Millimeter Transients with CMB Surveys</h3>

    <p>The millimeter transient sky represents an unexplored frontier in time-domain astronomy. Next-generation CMB experiments -- which will cover over half of the sky with near daily cadence -- will provide a unique opportunity to open a new window in the transient universe at millimeter wavelengths for the first time.</p>
    <a class="project-link" href="https://arxiv.org/abs/2110.05494" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/slsn.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Illuminating the Progenitors of Superluminous Supernovae </h3>
    <ul>
    <p>The mechanisms powering hydrogen-poor Type I superluminous supernovae are currently unknown, although prevailing theories suggest they are powered by the spin-down of millisecond magnetars. Radio observations of superluminous supernovae play a key role in unveiling the underlying energy sources which are otherwise obscured in the optical and UV where the majority of existing observations are focused. Our search for radio emission from a volume-limited sample of superluminous supernovae with the Very Large Array has so far led to the first detection of radio emission coincident with one of these events, and the deepest limits on associated magnetars from these sources to date. You can find a link to the paper below, or check out <a href="/assets/files/eftekhari_ras2020poster.pdf" target="_blank">this poster</a> for more details.</p>
    <a class="project-link" href="https://arxiv.org/abs/2010.06612" target="_blank">Check it out</a>
  </div>
</div>
