<div class="user-details">
  <h1>Publications</h1>
</div>
<div class="user-projects">
  	<p> Below you can find a list of my first-author publications. A complete listing of my publications can be found on the <a href="https://ui.adsabs.harvard.edu/public-libraries/-BEccacTRiem_1faS_FaCg" target="_blank">ADS</a>.
</p>

</div>


<div class="user-projects">

<p>Extragalactic Millimeter Transients in the Era of Next Generation CMB Surveys<br>
<i><b>T. Eftekhari et al. 2020</b></i> | ApJ| <a href="https://arxiv.org/abs/2110.05494" target="_blank">arXiv:2010.06612</a></p>

<p>Late-time Radio and Millimeter Observations of Superluminous Supernovae and Long Gamma-Ray Bursts: Implications for Obscured Star Formation, Central Engines, and Fast Radio Bursts<br>
<i><b>T. Eftekhari et al. 2020</b></i> | ApJ| <a href="https://arxiv.org/abs/2010.06612" target="_blank">arXiv:2010.06612</a></p>

<p>Wandering Massive Black Holes or Analogs of the First Repeating Fast Radio Burst?<br>
<i><b>T. Eftekhari et al. 2020</b></i> | ApJL| <a href="https://arxiv.org/abs/2001.02688" target="_blank">arXiv:2001.02688</a></p>

<p>A Radio Source Coincident with the Superluminous Supernovae PTF10hgi: Evidence for a Central Engine and an Analogue of the Repeating FRB121102?<br>
<i><b>T. Eftekhari et al. 2019</b></i> | ApJL | <a href="https://arxiv.org/abs/1901.10479" target="_blank">arXiv:1901.10479</a></p>

<p>Associating Fast Radio Bursts with Extragalactic Radio Sources: General Methodology and a Search for a Counterpart to FRB 170107<br>
<i><b>T. Eftekhari et al. 2018</b></i> | ApJ | <a href="https://arxiv.org/abs/1802.09525" target="_blank">arXiv:1802.09525</a></p>

<p>Radio Monitoring of the Tidal Disruption Event Swift J164449.3+573451. III. Late-time Jet Energetics and a Deviation from Equipartition<br>
<i><b>T. Eftekhari et al. 2018</b></i> | ApJ |  <a href="https://arxiv.org/abs/1710.07289" target="_blank">arXiv:1710.07289</a>
</p>

<p>
Associating Fast Radio Bursts to Their Host Galaxies<br>
<i> <b>T. Eftekhari</b> & E. Berger 2017 </i> | ApJ | <a href="https://arxiv.org/abs/1705.02998" target="_blank">arxiv: 1705.02998</a>
</p>

</div>
