<div class="user-details">
  <h1>Publications</h1>
</div>
<div class="user-projects">
  	<p> Below you can find a list of my first-author publications. A complete listing of my publications can be found on the <a href="https://ui.adsabs.harvard.edu/public-libraries/-BEccacTRiem_1faS_FaCg" target="_blank">ADS</a>.
</p>

</div>


<div class="contents">


<p>8. <a href="https://arxiv.org/abs/2110.05494" target="_blank">Extragalactic Millimeter Transients in the Era of Next Generation CMB Surveys</a></p>

<p>7. <a href="https://arxiv.org/abs/2010.06612" target="_blank">Late-time Radio and Millimeter Observations of Superluminous Supernovae and Long Gamma-Ray Bursts: Implications for Obscured Star Formation, Central Engines, and Fast Radio Bursts</a></p>

<p>6. <a href="https://arxiv.org/abs/2001.02688" target="_blank">Wandering Massive Black Holes or Analogs of the First Repeating Fast Radio Burst?</a></p>

<p>5. <a href="https://arxiv.org/abs/1901.10479" target="_blank">A Radio Source Coincident with the Superluminous Supernovae PTF10hgi: Evidence for a Central Engine and an Analogue of the Repeating FRB121102?</a></p>

<p>4. <a href="https://arxiv.org/abs/1802.09525" target="_blank">Associating Fast Radio Bursts with Extragalactic Radio Sources: General Methodology and a Search for a Counterpart to FRB 170107</a></p>

<p>3. <a href="https://arxiv.org/abs/1710.07289" target="_blank">Radio Monitoring of the Tidal Disruption Event Swift J164449.3+573451. III. Late-time Jet Energetics and a Deviation from Equipartition</a>
</p>

<p>
2. <a href="https://arxiv.org/abs/1705.02998" target="_blank">Associating Fast Radio Bursts to Their Host Galaxies</a>
</p>

<p>
1. <a href="https://arxiv.org/abs/1607.08612" target="_blank">A Low Frequency Survey for Crab Giant Pulses from the Crab Pulsar</a>
</p>


</div>
